body{
	background-image: url("https://storage.googleapis.com/blog-images-backup/0*I-sI3u34g0ydRqyA");
}
button{
	margin: 30px;
	
}
.home_button{
	bottom: auto;
	position:center;
}
.Raag2{
	bottom:  auto;
	position: center;
}


